.modal {
  box-sizing: border-box;
  width: 720px;
  height: 718px;
  background-color: #1C1C21;
  border-radius: 40px;
  padding: 120px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.buttonClose {
  padding: 0;
  background-color: #1C1C21;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 40px;
}